@model RepositoryExample_15_02_22.Models.CategoriesModel
@{
	ViewBag.Title = "Detay";
}

<dl>
	<dt>@Html.DisplayNameFor(x => x.Categories.CategoryID)</dt>
	<dd>@Html.DisplayFor(x => x.Categories.CategoryID)</dd>
	<dt>@Html.DisplayNameFor(x => x.Categories.CategoryName)</dt>
	<dd>@Html.DisplayFor(x => x.Categories.CategoryName)</dd>
	<dt>@Html.DisplayNameFor(x => x.Categories.Description)</dt>
	<dd>@Html.DisplayFor(x => x.Categories.Description)</dd>

</dl>
<br />
<div class="form-group">
	<a href="/Category/Index" class="btn btn-success">Listeye Geri Don</a>
</div>


